.exp__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.exp__container > div{
    background: var(--palatte_2);
    border-radius: 2rem;
    padding: 2.4rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    /* width: 80%; */
    
}

.exp__container > div:hover {
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.exp__container > div h3{
    text-align: center;
    color: var(--palatte_4);
    margin-bottom: 2rem;
}

.exp_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    
}
.exp_details{
    display: flex;
    /* text-align: center; */
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    gap: .3rem;
}

.exp_details:hover{
    color: var(--palatte_4);
}

.check{
    color: var(--palatte_4);
}

.slide_container{
    height: 20rem;
    margin-top: 5rem;
    width: 100%;
}
/* ==================MEDIA QUERIES (Medium devices)===============*/

@media screen and (max-width: 1024px) {
    .exp__container{
        grid-template-columns: 1fr;
    }
 }
 
 /* ==================MEDIA QUERIES (Small devices)===============*/
 
 @media screen and (max-width: 600px) {
     .exp__container{
        grid-template-columns: 1fr;
        padding: 5%;
     }
 
 
 }