header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*======Buttons===========*/
.connect_buttons{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}

/*====== Social ===========*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

/*======Image===========*/
.me{
    display: inline-block;
    margin-top: 3rem;
    justify-content: center;
}

.header_img{
    display: inline-block;
    justify-content: center;
    width: 100%;
}
.social__img{
    background: var(--palatte_1);
    border-radius: 3rem;
}

/*========= scroll down ===========*/

.scroll__down{
    position: absolute;
    right: -2.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
}



/* ==================MEDIA QUERIES (Medium devices)===============*/

@media screen and (max-width: 1024px) {
    header{
        height: 100vh;
    }
     

    /*====== Social ===========*/
    .header_socials{
        gap: .75rem;
        left: 1rem;
        bottom: 6rem;
    }

    .header_img{
        width: 60%;
    }

    /*========= scroll down ===========*/
    .scroll__down{
        position: absolute;
        right: -1.5rem;
        bottom: 7rem;
    }
}

/* ==================MEDIA QUERIES (Small devices)===============*/

@media screen and (max-width: 600px) {
    
    header{
        height: 100vh;
    }

    /*======Image===========*/
    .header_img{
        width: 70%;
    }
    /*====== Social ===========*/
    .header_socials{
        gap: .75rem;
        left: 1rem;
        bottom: 6rem;
    }

    /*========= scroll down ===========*/
    .scroll__down{
        position: absolute;
        right: -1.5rem;
        bottom: 7rem;
    }
}