.about__container{
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;
}

/* =================Left side =================== */
.about__me{
    margin-top: 30%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5rem;
}

.about__me-img{
    overflow: hidden;
    /* border-radius: 2rem; */
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-img:hover{
    transform: rotate(0);
}

/* ================Right SIDE ==================== */

.about__cards{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1.5rem;
}
/* ============ABOUT CARDS REGULAR============= */
.about_card{
    background: var(--palatte_2);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
}

.about_card p{
    margin-top: 1.5rem;
    display: none;
}
.about_card_subject{
    display: block;
}

.about_paragraph{
    margin-top: 2rem;
}
.about_paragraph a{
    display: none;
}
/* ============ABOUT CARDS HOVER============= */

.about_card_subject:hover + p{
    display: block;
}

.about_card:hover{
    background: rgba(0,0,0,.2);
    transition: var(--transition);
    cursor: pointer;
}

/* ============ABOUT CARDS TEXT AND ICONS============= */
.about_icon{
    color: var(--palatte_4);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about_card h5{
    font-size: 1rem;
    font-weight: 500;
}

.about_card small{
    font-size: .7rem;
}

.about_paragraph p{
    margin: 2rem 0 2.6rem 0;
}

/* ==================MEDIA QUERIES (Medium devices)===============*/

@media screen and (max-width: 1024px) {
   .about__container{
    grid-template-columns: 1fr;
    gap: 0;
   }
   .about__me{
    width: 50%;
    margin: 2rem auto 4rem;
    }
    .about__me a{
        display: none;
    }
    .about_paragraph p{
        margin: 1rem 0 1.6rem 0;
    }
    .about_paragraph a{
        display: grid;
    }
}

/* ==================MEDIA QUERIES (Small devices)===============*/

@media screen and (max-width: 600px) {
    .about__container{
        padding: 5%;
    }
    .about__me{
        width: 60%;
        margin: 2rem auto 4rem;
    }
    .about__cards{
        /* grid-template-columns: 1fr 1fr; */
        gap: 1rem;
    }
    .about_paragraph{
        margin: 1rem 0 1.6rem 0;
        text-align: center;
    }


}